In [1]:
import requests
import pandas as pd

In [2]:
# extracting data from Url in json form and then forming dataframe and selecting desired columns

response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=3d5ce23128f87940885e0b4d793e8589&language=en-US&page=1').json()

temp_data = pd.DataFrame(response['results'])[['id','title','release_date','overview','popularity','vote_count','vote_average']]

In [3]:
temp_data.head(2)

,id,title,release_date,overview,popularity,vote_count,vote_average
0,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",138.109,18134,8.7
1,278,The Shawshank Redemption,1994-09-23,Framed in the 1940s for the double murder of h...,122.546,24014,8.7

In [4]:
# creatinf empty dataframe
data = pd.DataFrame()

In [5]:
# writing loops for pages upto 501
for i in range(1,501):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=3d5ce23128f87940885e0b4d793e8589&language=en-US&page={}'.format(i))
    
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_count','vote_average']]
    
    
    data = data.append(temp_df,ignore_index=True)

In [7]:
data.head(5)

,id,title,release_date,overview,popularity,vote_count,vote_average
0,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",138.109,18134,8.7
1,278,The Shawshank Redemption,1994-09-23,Framed in the 1940s for the double murder of h...,122.546,24014,8.7
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,76.607,10944,8.6
3,569094,Spider-Man: Across the Spider-Verse,2023-05-31,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2275.332,1738,8.6
4,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,64.709,14194,8.6

In [8]:
data.isnull().sum()

id              0
title           0
release_date    0
overview        0
popularity      0
vote_count      0
vote_average    0
dtype: int64

In [9]:
data.to_csv('Top_Rated_Movies.csv')